@model GiftStoreMVC.Models.GiftstoreGift

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainDashboardLayout.cshtml";
}

<h1>Create</h1>

<h4>GiftstoreGift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Giftname" class="control-label"></label>
                <input asp-for="Giftname" class="form-control" />
                <span asp-validation-for="Giftname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giftprice" class="control-label"></label>
                <input asp-for="Giftprice" class="form-control" />
                <span asp-validation-for="Giftprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagepath" class="control-label"></label>
                <input asp-for="Imagepath" class="form-control" />
                <span asp-validation-for="Imagepath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giftavailability" class="control-label"></label>
                <input asp-for="Giftavailability" class="form-control" />
                <span asp-validation-for="Giftavailability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giftdescription" class="control-label"></label>
                <input asp-for="Giftdescription" class="form-control" />
                <span asp-validation-for="Giftdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoryid" class="control-label"></label>
                <select asp-for="Categoryid" class ="form-control" asp-items="ViewBag.Categoryid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Orderid" class="control-label"></label>
                <select asp-for="Orderid" class ="form-control" asp-items="ViewBag.Orderid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

