@model GiftstoreGift

@{
    ViewData["Title"] = "GiftDetails";
    Layout = "~/Views/Shared/_SenderLayout.cshtml";
}

<link href="~/SenderAssets/giftdetails.css" rel="stylesheet">
<style>

</style>

<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>new arrivals</h4>
                    <h2>sixteen products</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="container-1">
            <div class="cta-form">
                <h2>Fill out the form!</h2>
                <p>Check out the comments for line by line explanations. Form-related code starts on line 145.</p>
            </div>
            <form asp-action="GiftDetails">
                <input type="text" value="@Model.Giftname" class="form__input" id="GiftName" disabled/>
                <label for="GiftName" class="form__label">GiftName</label>
                <input type="hidden" name="GiftName" value="@Model.Giftname" />

                <input type="text" value="@Model.Giftprice" class="form__input" id="Price" disabled />
                <label for="Price" class="form__label">Gift Price</label>

                <input type="text" value="@Model.Giftdescription" class="form__input" id="Description" disabled />
                <label for="Description" class="form__label">Gift Description</label>

                <input type="text" placeholder="Recipient Name" class="form__input" name="recipientName" id="Name" required />
                <label for="Name" class="form__label">Recipient Name</label>

                <input type="text" placeholder="Recipient Address" class="form__input" name="recipientAddress" id="Address" required />
                <label for="Address" class="form__label">Recipient Address</label>
                <button class="sign-up"> Sign up</button>
            </form>
        </div>
    </div>
</div>
