@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



html {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #EDEEE9;
}

    body h1 {
        font-size: clamp(1rem, 6vw, 10rem);
        margin: 15vh 0 2rem;
    }

    body a {
        text-decoration: underline;
        color: #303030;
    }

    body code {
        font-size: 1rem;
        padding: 0 0.5rem;
        background-color: #D8DBCE;
    }

    body .explanation {
        width: 100%;
        margin-bottom: 15vh;
    }

        body .explanation p {
            font-size: 1rem;
            max-width: 75ch;
            margin: 2rem 0;
        }

        body .explanation ul:last-child {
            margin-bottom: 2rem;
        }

        body .explanation ul {
            display: flex;
            flex-direction: column;
        }

            body .explanation ul li {
                list-style: none;
                position: relative;
                margin: 0.5rem 0;
            }

                body .explanation ul li::before {
                    content: '👉';
                    position: absolute;
                    top: -0.25rem;
                    left: -2rem;
                }

    body .container-1 {
        width: 100%;
        max-width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem 1.5rem;
        background-color: #D8DBCE;
    }

@media (min-width: 768px) {
    body .container-1 {
        flex-direction: row;
        align-items: center;
    }
}

body .container-1 .cta-form {
    margin-bottom: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    body .container-1 .cta-form {
        margin-bottom: 0;
        margin-right: 2rem;
        text-align: left;
    }
}

body .container-1 .cta-form h2 {
    font-size: 1.5rem;
    width: 100%;
    max-width: 25ch;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px) {
    body .container-1 .cta-form h2 {
        text-align: left;
        margin: 0;
    }
}

body .container-1 .cta-form p {
    margin-top: 1rem;
    font-size: 1rem;
    width: 100%;
    max-width: 24ch;
}

.form {
    align-self: center;
}

.form__input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid #303030;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
}

@media (min-width: 768px) {
    .form__input {
        width: clamp(120px, 35vw, 420px);
    }
}

.form__input:focus {
    outline: none;
    border-top-color: rgba(0, 0, 0, 0.1);
}

    .form__input:focus + .form__label,
    .form__input:not(:placeholder-shown) + .form__label {
        transform: translateY(-4.50rem) scale(1);
        color: #303030;
    }

.form__input::placeholder {
    display: none;
    color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form__input:not(:placeholder-shown) {
    border-top-color: rgba(0, 0, 0, 0.5);
}

.form__label {
    font-size: 1rem;
    color: #909090;
    display: block;
    transform: translate(1.25rem, -2.5rem);
    transform-origin: 0 0;
    transition: all 500ms;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
