@model GiftStoreMVC.Models.GiftstoreUser

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/LoginForm/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/LoginForm/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="~/LoginForm/https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/LoginForm/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/LoginForm/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/LoginForm/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Sign in</h2>
                    <form asp-controller="Auth" asp-action="SignIn">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Username</label>
                                    <input asp-for="Username" class="input--style-4" placeholder="Username"/>
                                    <span asp-validation-for="Username" class="text-danger" style="color:red;"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input asp-for="Password" class=" input--style-4" placeholder="Password"/>
                                    <span asp-validation-for="Password" class="text-danger" style="color:red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15" style="text-align:center;">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                        <div style="text-align:center;padding:20px;">
                            <a asp-controller="Auth" asp-action="SignUp">dont have an account? sign up</a>
                        </div>
                        <div style="text-align:center;padding:20px;">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </div>
                        <span class="text-danger" style="color:red;">@TempData["SignIn"]</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
 
    <!-- Jquery JS-->
    <script src="~/LoginForm/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/LoginForm/vendor/select2/select2.min.js"></script>
    <script src="~/LoginForm/vendor/datepicker/moment.min.js"></script> 
    <script src="~/LoginForm/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/LoginForm/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
