@model GiftstoreCategory
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainDashboardLayout.cshtml";
}


<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <h1>Your categories</h1>
                <div class="main">
                    <ul class="cards">
                        <li class="cards_item">
                            <div class="card">
                                <div class="card_image">
                                    <a asp-action="Gifts" asp-rout-id="@Model.Categoryid">
                                        <img src="@Url.Content("~/CategoriesImages/"+@Model.Imagepath)" alt="mixed vegetable salad in a mason jar." />
                                    </a>
                                    <span class="card_price"><span>$</span>9</span>
                                </div>
                                <div class="card_content">
                                    <h2 class="card_title">@Model.Categoryname</h2>
                                    <div class="card_text">
                                        <p>
                                            Maker name: <strong>Maker name</strong>
                                        </p>
                                        <hr />
                                        <p>
                                            @Model.Categorydescription
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

