@model GiftStoreMVC.Models.GiftstoreGift

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainDashboardLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="main">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Giftname" class="control-label"></label>
                                    <input asp-for="Giftname" class="form-control" />
                                    <span asp-validation-for="Giftname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Giftprice" class="control-label"></label>
                                    <input asp-for="Giftprice" class="form-control" />
                                    <span asp-validation-for="Giftprice" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                    <label asp-for="Imagepath" class="control-label"></label>
                                    <input asp-for="Imagepath" class="form-control" />
                                    <span asp-validation-for="Imagepath" class="text-danger"></span>
                                </div>*@
                                <div class="form-group">
                                    <label asp-for="GiftImage" class="control-label"></label>
                                    <input asp-for="GiftImage" class="form-control" />
                                    <span asp-validation-for="GiftImage" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group" id="category">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <select name="giftAvailability">
                                                <option disabled="disabled" selected="selected">Available</option>
                                                <option value=1>Yes</option>
                                                <option value=0>No</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Giftdescription" class="control-label"></label>
                                    <input asp-for="Giftdescription" class="form-control" />
                                    <span asp-validation-for="Giftdescription" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                    <label asp-for="Categoryid" class="control-label"></label>
                                    <input asp-for="Categoryid" disabled class="form-control" />
                                </div>*@
                                <div class="form-group">
                                    <select hidden asp-for="Categoryid" class="form-control" value="@ViewData["CategoryId"]"></select>
                                </div>
                                @*<div class="form-group">
                                    <label asp-for="Orderid" class="control-label"></label>
                                    <select asp-for="Orderid" class ="form-control" asp-items="ViewBag.Orderid"></select>
                                </div>*@
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

