@model IEnumerable<GiftstoreCategory>


@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    
}
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            @foreach(var item in Model)
            {
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" asp-action="Gifts" asp-route-Categoryid="@item.Categoryid" title="Category Name">
                        <img class="img-fluid" src="@Url.Content("~/CategoriesImages/"+item.Imagepath)" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Category Name</div>
                            <div class="project-name">@item.Categoryname</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

