@model GiftStoreMVC.Models.GiftstoreCategory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MainDashboardLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <h1>Details</h1>

                <div>
                    <h4>GiftstoreCategory</h4>
                    <hr />
                    <dl class="row">
                        <dt class = "col-sm-2">
                            Category name
                            @*@Html.DisplayNameFor(model => model.Categoryname)*@
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Categoryname)
                        </dd>
                        <dt class = "col-sm-2">
                            Category image
                            @*@Html.DisplayNameFor(model => model.Imagepath)*@
                        </dt>
                        <dd class = "col-sm-10">
                            <img src="@Url.Content("~/CategoriesImages/"+Model.Imagepath)" style="width:200px;height:150px;border-radius:10px;"></img>
                        </dd>
                        <dt class = "col-sm-2">
                            Category description
                            @*@Html.DisplayNameFor(model => model.Categorydescription)*@
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Categorydescription)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Categoryid" class="btn btn-primary" >Edit</a>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
